* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--gMqNFSvy--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_800/https://thepracticaldev.s3.amazonaws.com/i/n9b2p3j0h1mdqvms3ogc.gif");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background-color: #084825;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1.name {
    color: #a8ffa8;
    font-family: ui-monospace;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #a8ffa8;

}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    border: 1px solid #a8ffa8;
    border-radius: 5px;
    background: unset;
    color: white;
}

button {
    text-decoration: none;
    background-color: #28a745;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

p{
    margin-top: 5px;
    font-size: 11px;
}

p .link{
    color: #3498db;
  /* text-decoration: none; */
}


